$baseColor: ("1": #000000, "2": #2b2c2e, "3": #565656, "4": #b8b8b8, "5": #e6e6e6, "6": #f5f6f6, "7": #f8f8f8); 
$adtColor: ("1": #366dd6, "2": #4786ff);

$time: 0.2s;



pop-up{
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    visibility: hidden;
    opacity: 1;
    z-index: 999 !important;
    transition: all $time*2 linear;
    overflow: auto;

    &.open{
    	visibility: visible;
        background: rgba(0, 0, 0, .5);

        pop-up-content{
        	top: 0px !important;
        }
    }
    
    pop-up-content{
        display: block;
        position: relative;
        top: -1000px;
        width: 589px;
        height: auto;
        margin: 40px auto;
        box-sizing: border-box;
        background-color: white;
        border-radius: 10px;
        padding: 0px 30px 30px 30px;
        transition: all $time*2 ease-in-out;

        .p-header{
            color: map-get($baseColor, "3");
            background-color: map-get($baseColor, "6");
            height: 75px;
            margin: 0px -30px;
            padding: 0px 30px;
            border-radius: 10px 10px 0px 0px;
            display: flex;
            align-items: center;
            font-size: 1.714em;
            font-weight: 400;
            

            pop-up-close{
                --pop-up-close-color: #ecedef;
                display: block;
                position: absolute;
                top: 30px;
                right: 30px;
                height: 20px;
                width: 20px;
                cursor: pointer;
                background-image: linear-gradient(45deg, transparent calc(50% - 1px), var(--pop-up-close-color) calc(50% - 1px), var(--pop-up-close-color) calc(50% + 1px), transparent calc(50% + 1px), transparent 100%),  linear-gradient(-45deg, transparent calc(50% - 1px), var(--pop-up-close-color) calc(50% - 1px), var(--pop-up-close-color) calc(50% + 1px), transparent calc(50% + 1px), transparent 100%);
                
                &:hover{
                    --pop-up-close-color: #f77e7e;
                }
            }
        }

        .p-body{
            padding-top: 30px;
        }
    }
}

pop-up-open{
    display: inline-block;
    white-space: nowrap;
    font-family: Arial;
    box-sizing: content-box;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 5px;
    color: white;
    border-bottom: 3px solid map-get($adtColor, "1");
    background-color: map-get($adtColor, "2");
    cursor: pointer;

    &:hover{
        margin-top: 3px;
        background-color: map-get($adtColor, "1");
        background-image: none;
        border-bottom-width: 0px !important;
    }
}